@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scrollbar-width: none;
}

:root {
    --main-color: #fefae0;
    --sec-color1: #fb8500;
    --sec-color2: #ffa034;
    --txt-color1: #ffffff;
    --txt-color2: #000000;
}

html, body {
    background: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.portfolio {
    min-height: 100dvh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}