@font-face {
    font-family: 'Quick and Easy and New r0';
    src: url('QuickandEasyandNewr0.woff2') format('woff2'),
        url('QuickandEasyandNewr0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quick and Easy and New r0', sans-serif;
}
